header {
  padding-block: 8.8rem 4rem;
}

header .headline {
  padding-bottom: 0.8rem;
}

/* media queries */
@media (width < 63.9375em) {
  header {
    padding-block: 4rem 4rem;
  }
}

@media (width < 47.9375em) {
  header {
    padding-block: 4rem 4rem;
  }
}
